img
{


width: 120px;
}

#contentJumbo
{
    background: #ffffff;

}

.test-phase
{
width: 100%;


}

.heading
{

 font-size: 4.0em;



}

.main-container-jumbo
{
    padding-bottom: 4em;
     border-bottom: 1px solid;
     position: relative;
        border-color: #e5e6e9 #dfe0e4 #d0d1d5;

        margin: 30px;
        margin-top: 50px;

}

.img-editor
{

width: 90px;
height: 90px;
border: 1px solid;
border-radius: 50%;
    border-color:#000000;

}
.editor-container
{



    display: inline-block;
    font-size: 2em;
    position: relative;
    top: 50%;
      padding-left: 10px;
 
}

.editor-container-name
{
    border-right: 1px solid;
    padding-right: 10px;

    display: inline-block;
    font-size: 2em;
    position: relative;
    top: 50%;
  padding-left: 10px;
}

.editor
{
    margin-top: 50px;
position: relative;

}


.content-desc
{
  
        margin: 70px;
   font-size: 2.5em;
  line-height: 2em;


}

