.timeline-item {
    /*background: #fff;*/
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 12px;

    margin: 0 auto;
    /*padding: 5px;*/
    width: 100%;
    height:100%;

    position: absolute;

}


.timeline-wrapper
{

    height: 100%;
}


@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}


.animated-background {
  /*background-size: 800px 104px;*/
    height: 100%;
    position: relative;
}

.loading-text-main
{
    text-overflow: ellipsis;
      white-space: nowrap; 
    height: 2.0em;
    overflow: hidden;
     max-height: 2.0em;
    position: absolute;
    bottom: 0;
    max-width: 100%;
/*background: #000000;*/

  border: 1px solid;
    
}

.loading-text-sub
{
      border: 1px solid;
    text-overflow: ellipsis;
      white-space: nowrap; 
      max-width: 100%;
        overflow: hidden;
    height: 1.3em;
      max-height: 1.3em;
    position: absolute;
    bottom: 2.2em;
/*background: #000000;*/
    
}