#mainview
{


}





.list-group
{
    margin-bottom: 0px;
}




.baseFrame
{
padding: 20px;
/*background: #000000;*/

}

.baseFrame
{

    border:  1px solid;
    margin: 2px;
     border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
