.gallery-list
{
    overflow: auto;
    /*max-height: 100px;*/
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

#main-frame-heading
{
     font-size: 1.7em;
     /*background: white;*/
     color: #b8babc;
}

#media-frame-img
{
    width: 100%;
}

.horiz-list
{
    clear: both;
  display: block;
  content: "";
}

.horiz-list-item
{
    float: left;
}

.item-list-image
{
       border-radius: 50%;

    
}

.mainframe
{
    /*background: #000000;*/
    /*padding: 15px;*/
}
ul{
        border:  1px solid;
    /*margin: 2px;*/
     border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.search-list
{
      /*border:  1px solid;*/
    /*margin: 2px;*/
    /*padding: 3px;*/
     border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

